.span-padding, .span12-padding {
    padding: 20px;
}

.chart-sidebar {
  font-size: 13px;
}

.chart-sidebar .comment {
  color: #999;
  font-style: italic;
  padding: 0 0 0 15px;
}

.chart-sidebar ul {
  margin: -10px 0 0 0;
  padding: 0;  
  min-width: 200px;
}

.chart-sidebar ul li {
  color: #2D8DBB;
  clear: both;
  cursor: pointer;
  list-style-type: none;
  margin: 15px 0;
  padding: 5px 0 5px 15px;
}

.chart-sidebar ul li span {
  border-bottom: 1px dashed;
  float: left;
  height: 20px;
  margin: 5px 0;
  padding: 0;
}

.chart-sidebar ul li span.active {
  background: #FFF100;
  border-bottom: none;
  border-radius: 10px 0 0 10px;
  color: #000;
  margin: 0 0 0 -15px;
  padding: 5px 5px 5px 15px;
  height: 20px;
}

.arrow-right {
  float: left;
  width: 0; 
  height: 0; 
  border-top: 15px dashed transparent;
  border-bottom: 15px dashed transparent;
  border-left: 20px solid #FFF100;
  margin: 0;
  padding: 0;
}

.chart-container {
  display: block;
  margin: 50px 0;
}

.hidden {
  display: none;
}


/* SVG Style */

.grid-label {
  font-family: Arial;
  font-size: 12px;
}